schema/properties.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="localization">
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="locale">
		  <xs:complexType>
			<xs:sequence>
			  <xs:element name="name" type="xs:string"/>
			  <xs:element name="rtl" type="xs:boolean"/>
			  <xs:element name="parentLocale" type="xs:string"/>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
</xs:schema>
