schema/translation.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:attributeGroup name="entryGroup">
	<xs:attribute name="key" type="xs:string"/>
	<xs:attribute name="value" type="xs:string"/>
	<xs:attribute name="version" type="xs:byte"/>
	<xs:attribute name="clone" type="xs:string"/>
	<xs:attribute name="derive" type="xs:boolean"/>
  </xs:attributeGroup>
  <xs:element name="localization">
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="strings">
		  <xs:complexType>
			<xs:sequence>
			  <xs:element name="string" maxOccurs="unbounded" minOccurs="1">
				<xs:complexType>
				  <xs:simpleContent>
					<xs:extension base="xs:string">
					  <xs:attributeGroup ref="entryGroup"/>
					</xs:extension>
				  </xs:simpleContent>
				</xs:complexType>
			  </xs:element>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
</xs:schema>
